@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #666;
  font-weight: 300;
}
.accordion-button::after {
  width: 30px;
  height: 30px;
  background-size: 30px;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23CF9783'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23CF9783'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  display: block;
  color: #666;
}
.carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
  background: none !important;
  padding: 0 !important;
}
.carousel .control-next.control-arrow:before {
  border: none !important;
  width: 14px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2L10 10L2 18" stroke="white" stroke-width="3" stroke-linecap="round"/></svg>');
}
.carousel .control-prev.control-arrow:before {
  border: none !important;
  width: 14px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 2L3 10L11 18" stroke="white" stroke-width="3" stroke-linecap="round"/></svg>');
}
@media screen and (max-width: 600px) {
  .max-w-il {
    max-width: 200px !important;
  }
}
